<!DOCTYPE html>
<html>

    <head>
        <title>Results Table</title>
    </head>

    <body>
        <table id="results-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.index }}</td>
                    <td>{{ result.number }}</td>
                    <td>{{ result.title }}</td>
                    <td><a href="{{ result.link }}">View PR</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

</html>